<div>Nom Prenom</div>
<div>
	<ul>
		<li><a href="" [routerLink]="['/inscription']">Inscription</a></li>

		<li><a href="" [routerLink]="['/matiere']">Gestion des
				mati&egraveres</a></li>
		<li><a href="" [routerLink]="['/formateur']">Gestion des
				formateurs</a></li>
		<li><a href="" [routerLink]="['/planning']">Gestion des
				plannings</a></li>
		<li><a href="" [routerLink]="['/materiel']">Gestion du
				mat&eacuteriel</a></li>
		<li><a href="" [routerLink]="['/salle']">Gestion des salles</a></li>
		<li><a href="" [routerLink]="['/logout']">Logout</a></li>
	</ul>
</div>