
<div></div>
<div>
	<ul>
		<li><a href="" [routerLink]="['/inscriptionStagiaire']">Inscription
				stagiaire </a></li>
		<li><a href="" [routerLink]="['/inscriptionformateur']">Inscription
				formateur </a></li>
		<li><a href="" [routerLink]="['/inscriptiontechnicien']">Inscription
				technicien </a></li>
		<li><a href="" [routerLink]="['/inscriptiongestionnaire']">Inscription
				gestionnaire </a></li>

		<li><a href="" [routerLink]="['/matiere']">Gestion des
				mati&egrave;res</a></li>
		<li><a href="" [routerLink]="['/rh']">Gestion des ressources
				humaines</a></li>
		<li><a href="" [routerLink]="['/planning']">Gestion des
				plannings</a></li>
		<li><a href="" [routerLink]="['/technicien']">Gestion du
				mat&eacute;riel</a></li>

		<li><a href="" [routerLink]="['/logout']">Logout</a></li>
	</ul>
</div>