
<div>
	<ul>
		<li><a href="" [routerLink]="['/inscription']">Inscription</a></li>

		<li><a href="" [routerLink]="['/matiere']">Gestion des
				matieres</a></li>
		<li><a href="" [routerLink]="['/rh']">Gestion des
				ressources humaines</a></li>
		<li><a href="" [routerLink]="['/planning']">Gestion des
				plannings</a></li>
		<li><a href="" [routerLink]="['/technicien']">Gestion du
				materiel</a></li>
		<li><a href="" [routerLink]="['/salle']">Gestion des salles</a></li>
		<li><a href="" [routerLink]="['/logout']">Logout</a></li>
	</ul>
</div>