<form (ngSubmit)="save()">
	<table>
		<tr>
			<td>ID</td>
			<td><input type="number" [(ngModel)]="matiere.id"
				readonly="readonly" name="id"/></td>
			<td></td>
		</tr>
		<tr>
			<td>Titre</td>
			<td><input type="text" [(ngModel)]="matiere.titre" required
				name="titre" #titreControl="ngModel" /></td>
			<td>
				<div *ngIf="titreControl.dirty && titreControl.invalid">Titre
					obligatoire</div>
			</td>
		</tr>
		<tr>
			<td>Dur&eacute;e du programme</td>
			<td><input type="number" [(ngModel)]="matiere.dureeProg" required
				name="dureeProg" #dureeProgControl="ngModel" /></td>
			<td>
				<div *ngIf="dureeProgControl.dirty && dureeProgControl.invalid">Dur&eacute;e du programme
					obligatoire</div>
			</td>
		</tr>
		<tr>
			<td>Objectif</td>
			<td><input type="text" [(ngModel)]="matiere.objectif" required
				name="objectif" #objectifControl="ngModel" /></td>
			<td>
				<div *ngIf="objectifControl.dirty && objectifControl.invalid">Objectif
					obligatoire</div>
			</td>
		</tr>
		<tr>
			<td>Pr&eacute;requis</td>
			<td><input type="text" [(ngModel)]="matiere.prerequis" required
				name="prerequis" #prerequisControl="ngModel" /></td>
			<td>
				<div *ngIf="prerequisControl.dirty && prerequisControl.invalid">Pr&eacute;requis
					obligatoire</div>
			</td>
		</tr>
		<tr>
			<td>Contenu</td>
			<td><input type="text" [(ngModel)]="matiere.contenu" required
				name="contenu" #contenuControl="ngModel" /></td>
			<td>
				<div *ngIf="contenuControl.dirty && contenuControl.invalid">Contenu
					obligatoire</div>
			</td>
		</tr>
	
		<tr>
			<td colspan="3">
				<button type="submit">Enregister</button>
				<button (click)="reset()">Annuler</button>
			</td>
		</tr>
	</table>
</form>