<head>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<table style="heigth: 400px; width: 100%">
	<tr>
		<td>
			<a href="" [routerLink]="['/inscriptionStagiaire']"><i
				class="material-icons" style="font-size: 100px; color: black">person_add</i></a>
			</td>

		<td><a href="" [routerLink]="['/matiere']"><i
				class="material-icons" style="font-size: 100px; color: black">school</i></a></td>
		<td><a href="" [routerLink]="['/formateur']"><i
				class="material-icons" style="font-size: 100px; color: black">account_circle</i></a></td>
	</tr>
	<tr>
		<td><a href="" [routerLink]="['/planning']"><i
				class="material-icons" style="font-size: 100px; color: black">event</i></a></td>
		<td><a href="" [routerLink]="['/technicien']"><i
				class="material-icons" style="font-size: 100px; color: black">computer</i></a></td>

</table>
