<form action="inscriptiongestionnaire.ts" method="post" (ngSubmit)="createGestionnaire()">

	<h1>Inscription Gestionnaire  &#9997;</h1>
		
	<hr style="height: 2px; color: #839D2D; background-color: #839D2D; border: none;">
	
	<fieldset class="etat-civil">
		<legend>Etat civil</legend>
		<label for="nom">Nom</label>		 					 <input id="nom" name="nom" type="text" [(ngModel)]="gestionnaire.nom"/> <br />
		<label for="prenom">Prenom </label>						 <input id="prenom" name="prenom" type="text" [(ngModel)]="gestionnaire.prenom" /><br /> 
	</fieldset>
	<hr style="height: 2px; color: #839D2D; background-color: #839D2D; border: none;">
	<fieldset class="adresse">
		<legend>Adresse</legend>
		<label>n&deg; de Rue</label> 			<input id="numero" name="numero" type="text" [(ngModel)]="gestionnaire.numero"/><br /> 
		<label>Rue</label> 						<input id="rue" name="rue" type="text" [(ngModel)]="gestionnaire.rue"/><br /> 
		<label>Code	postal &#9993;</label> 		<input id="code-postal" name="code-postal" type="text" [(ngModel)]="gestionnaire.cp"/><br />
		<label>Ville</label> 					<input id="ville" name="ville" type="text" [(ngModel)]="gestionnaire.ville"/><br />
		<label>Pays</label> 					<input id="pays" name="pays" type="text" [(ngModel)]="gestionnaire.pays"/>
	</fieldset>
	<hr style="height: 2px; color: #839D2D; background-color: #839D2D; border: none;">
	<fieldset class="information">
		<legend>Informations Complementaires</legend>
		<label>Telephone &#9743;</label> 				<input id="tel" name="tel" type="text" [(ngModel)]="gestionnaire.tel"/><br /> 
		<label>Email &#64;</label> 						<input id="email" name="email" type="text" [(ngModel)]="gestionnaire.email"/><br />
	</fieldset>
	<hr style="height: 2px; color: #839D2D; background-color: #839D2D; border: none;">
	<fieldset class="authentification">
		<legend>Choix d'authentification</legend>
		<label>Login</label> 							<input id="login" name="login" type="text" [(ngModel)]="gestionnaire.login"/><br /> 
		<label>Mot de passe</label> 					<input id="mdp" name="mdp" type="text" [(ngModel)]="gestionnaire.mdp"/><br />
	</fieldset>
	<hr style="height: 2px; color: #839D2D; background-color: #839D2D; border: none;">	
	<button type="submit">Valider inscription Gestionnaire</button> 
</form>