
<form (ngSubmit)="save()">
	<table>

		<tr>
			<td>id</td>
			<td><input type="number" [(ngModel)]="formateur.id"
				readonly="readonly" name="id" /></td>
			<td></td>
		</tr>

		<tr>
			<td>prenom</td>
			<td><input type="text" [(ngModel)]="formateur.prenom" required
				name="prenom" #prenomControl="ngModel" /></td>
			<td><div *ngIf="prenomControl.dirty && prenomControl.invalid">prenom
					obligatoire</div></td>
		</tr>

		<tr>
			<td>nom</td>
			<td><input type="text" [(ngModel)]="formateur.nom" required
				name="nom" #nomControl="ngModel" /></td>
			<td><div *ngIf="nomControl.dirty && nomControl.invalid">nom
					obligatoire</div></td>
		</tr>

		<tr>
			<td>telephone</td>
			<td><input type="number" [(ngModel)]="formateur.tel" name="tel"
				#telControl="ngModel" /></td>
		</tr>

		<tr>
			<td>email</td>
			<td><input type="text" [(ngModel)]="formateur.email"
				name="email" #emailControl="ngModel" /></td>
		</tr>

		<tr>
			<td>adresse: numero</td>
			<td><input type="number" [(ngModel)]="formateur.adresse.numero"
				name="numero" #numeroControl="ngModel" /></td>
		</tr>
		
		<tr>
			<td>adresse: rue</td>
			<td><input type="text" [(ngModel)]="formateur.adresse.rue"
				name="rue" #rueControl="ngModel" /></td>
		</tr>
		
		<tr>
			<td>adresse: code postal</td>
			<td><input type="number" [(ngModel)]="formateur.adresse.cp"
				name="cp" #cpControl="ngModel" /></td>
		</tr>
		
		<tr>
			<td>adresse: ville</td>
			<td><input type="text" [(ngModel)]="formateur.adresse.ville"
				name="ville" #villeControl="ngModel" /></td>
		</tr>
		
		<tr>
			<td>adresse: pays</td>
			<td><input type="text" [(ngModel)]="formateur.adresse.pays"
				name="pays" #paysControl="ngModel" /></td>
		</tr>
	

		<tr>
			<td colspan="3">
				<button type="submit">enregistrer</button>
				<button (click)="reset()">annuler</button>
			</td>
		</tr>
	</table>
</form>